<header class="container-fluid">
  <div class="container">
    
    <div class="row d-flex align-items-center">
      <div class="col-xs-12 col-sm-6">
        <h1>Shop</h1>
      </div>
      <!-- <ol class="col-xs-12 col-sm-6 text-right breadcrumb">
        <li><a href="#!/home">Home</a></li>
        <li class="active">Shop</li>
      </ol> -->
    </div>

  </div>
</header>

<div class="container content">

  <div class="row d-flex">
    <div class="col-xs-6 col-sm-3">

      <h5>Sort</h5>

      <select ng-change="$ctrl.applySort()" ng-model="$ctrl.currentSortType" class="form-control">
        <option value="0">Alphabetical</option>
        <option value="1">Price: Low to High</option>
        <option value="2">Price: High to Low</option>
      </select>

      <h5>Brands</h5>

      <div class="list-group">
        <button 
        type="button" 
        class="list-group-item"
        ng-class="{active: $ctrl.currentFilterBrand == ''}"
        ng-click="$ctrl.filterByBrand('')" 
        >
          All
        </button>
        <button 
          ng-repeat="brand in $ctrl.brands" 
          type="button" 
          class="list-group-item"
          ng-class="{active: $ctrl.currentFilterBrand == brand.name}"
           ng-click="$ctrl.filterByBrand(brand.name)"
        >
          {{brand.name}}
        </button>
      </div>

      <h5>Types</h5>

      <div class="list-group">
        <button 
          type="button" 
          class="list-group-item"
          ng-class="{active: $ctrl.currentFilterType == ''}"
          ng-click="$ctrl.filterByType('')"
        >
          All
        </button>
        <button 
          ng-repeat="type in $ctrl.types" 
          type="button" 
          class="list-group-item"
          ng-class="{active: $ctrl.currentFilterType == type.name}"
          ng-click="$ctrl.filterByType(type.name)"
        >
          {{type.name}}
        </button>
      </div>

    </div>
    <div class="col-xs-6 col-sm-9">
      
      <div class="d-flex align-items-center">
        
        <h5 ng-if="$ctrl.products.length > 0">Showing 1 - {{$ctrl.products.length}} of {{$ctrl.products.length}} Results</h5>
        <h5 ng-if="$ctrl.products.length === 0">0 Results</h5>

      </div>

      <div class="row">
        
        <div ng-repeat="product in $ctrl.products" class="col-xs-12 col-sm-6 col-md-4">
          <a href="#!/shop/{{product.sku}}" class="thumbnail">
            <img ng-src="{{product.imageUrl}}">
            <div class="caption">
              <h4>{{product.name}}</h4>
              <span class="product-price">{{product.price | currency}}</span>
            </div>
          </a>
        </div>

      </div>

      <div ng-if="$ctrl.products.length > 0" class="d-flex justify-content-center align-items-center">
        
        <nav aria-label="Page navigation">
          <ul class="pagination">
            <li>
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li><a href="#">1</a></li>
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>

      </div>

    </div>
  </div>
  
</div>
