body {
  padding: 0px;
}

h1 {
  font-size: 24px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 16px;
}

header {
  background-color: #f5f5f5;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.d-flex {
  display: flex !important;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-center {
  justify-content: center !important;
}

.align-items-center {
  align-items: center !important;
}

.breadcrumb {
  margin-bottom: 0px;
  list-style: none;
}

.w-100 {
  width: 100%;
}

.mt-2 {
  margin-top: 1.5rem !important;
}

.ml-4 {
  margin-left: 1.5rem !important;
}

.mr-2 {
  margin-right: 0.5rem !important;
}

.mx-2 {
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
}

.px-0{
  padding-right:0!important;
  padding-left:0!important
}

.px-4{
  padding-right:1.5rem!important;
  padding-left:1.5rem!important
}

.py-3{
  padding-top:1rem!important;
  padding-bottom:1rem!important
}

.text-uppercase{
  text-transform:uppercase!important
}

.font-weight-bold{
  font-weight:700!important
}

.text-warning {
    color: #efb73e !important;
}

.p-4{
  padding:1.5rem!important
}

.py-2{
  padding-bottom:.5rem!important
}

.mb-4{
  margin-bottom:1.5rem!important
}

.font-italic{
  font-style:italic!important
}

.border-bottom{
  border-bottom:1px solid #dee2e6!important
}

.text-muted{
  color:#6c757d!important
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.content {
  margin-top: 20px;
}

.content-sm {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

a.thumbnail {
  border-radius: 10px;
  padding: 0px;
  text-decoration: none;
}

.thumbnail img {
  background-color: #0891b2 !important;
  border-top-left-radius: 10px 10px;
  border-top-right-radius: 10px 10px;
  padding: 20px;
}

.thumbnail .caption {
  min-height: 100px;
  max-height: 100px;
}

.product-price {
  font-size: 16px;
  font-weight: 600;
}

.bg-light {
  --bs-bg-opacity:1;
  background-color: rgba(248,249,250,var(--bs-bg-opacity))!important
}

.btn-action {
  text-decoration: none !important
}

/* View: Index */
.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
}

.carousel-caption {
  font-size: 20px;
}

/* View: Home */
.carousel.slide {
  margin-top: 25px;
}

.carousel-inner .item {
  background-color: rgba(159, 219, 251, 0.9);
  padding-bottom: 50px;
}

.carousel-inner .item img {
  height: 400px;
  width: 100%;
  object-fit: contain;
}

.title-section {
  margin-left: 10px;
  margin-right: 10px;
}

/* View: Phone list */
.phones {
  list-style: none;
}

.phones li {
  clear: both;
  height: 115px;
  padding-top: 15px;
}

.thumb {
  float: left;
  height: 100px;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  width: 100px;
}

/* View: Phone detail */
.phone {
  background-color: white;
  display: none;
  float: left;
  height: 400px;
  margin-bottom: 2em;
  margin-right: 3em;
  padding: 2em;
  width: 400px;
}

.phone:first-child {
  display: block;
}

.phone-images {
  background-color: white;
  float: left;
  height: 450px;
  overflow: hidden;
  position: relative;
  width: 450px;
}

.phone-thumbs {
  list-style: none;
  margin: 0;
}

.phone-thumbs img {
  height: 100px;
  padding: 1em;
  width: 100px;
}

.phone-thumbs li {
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  display: inline-block;
  margin: 1em;
}

.specs {
  clear: both;
  list-style: none;
  margin: 0;
  padding: 0;
}

.specs dt {
  font-weight: bold;
}

.specs > li {
  display: inline-block;
  vertical-align: top;
  width: 200px;
}

.specs > li > span {
  font-size: 1.2em;
  font-weight: bold;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
  position: absolute;
  bottom: 8px;
  right: 8px;
  display: block;
  font-family: 'Glyphicons Halflings';
  opacity: 0.5;
}

.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
    border-top: 0;
}
table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting {
    padding-right: 30px;
}
table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
    cursor: pointer;
    position: relative;
}

table.dataTable thead .sorting:after {
  opacity: 0.2;
  content: "\e150";
}

table.dataTable thead .sorting_asc:after {
  content: "\e155";
}

table.dataTable thead .sorting_desc:after {
  content: "\e156";
}

.dataTables_filter {
  float: right;
}

.dataTables_paginate {
  float: right;
}

.dataTables_paginate .pagination {
  margin: 0;
}

/* Zebra striping */

th {
  background: #F8FAFC;
  color: #64748B;
  font-weight: 600;
}

td,
th {
  padding: 10px;
  text-align: left;
}

td:nth-of-type(1) {
  font-weight: 500 !important;
}

td {
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300;
  line-height: 20px;
  border-bottom: 1px solid #ddd;
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

  /* Force table to not be like tables anymore */
  table.responsive,
  .responsive thead,
  .responsive tbody,
  .responsive th,
  .responsive td,
  .responsive tr {
    display: block !important;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  .responsive thead tr {
    position: absolute !important;
    top: -9999px;
    left: -9999px;
  }

  .responsive tr {
    border: 1px solid #ccc;
  }

  .responsive td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee !important;
    position: relative !important;
    padding-left: 25% !important;
  }

  .responsive td:before {
    /* Now like a table header */
    position: absolute !important;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap !important;
    font-weight: 500 !important;
  }

  /*
	Label the data
	*/
  .responsive td:before {
    content: attr(data-table-header) !important;
  }

  /* breadcrumb */
  @media (max-width: 768px) {
    .breadcrumb {
      display: none;
    }
  }
}