<div class="modal-header">
  <h3 class="modal-title" id="modal-title">{{(pc.data.imageUrl !== 'assets/img/products/no-image-product.png') ? 'Edit' : 'Add'}} product</h3>
</div>
<div class="modal-body" id="modal-body">
  
  <form name=userForm>
    <div class="form-group" ng-class="{ 'has-error' : userForm.sku.$invalid && !userForm.sku.$pristine }">
      <label>SKU</label>
      <input ng-model="pc.data.sku" type="text" class="form-control" name="sku" required>
      <p ng-show="userForm.sku.$invalid && !userForm.sku.$pristine" class="help-block">SKU is required.</p>
    </div>
    
    <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
      <label>Name</label>
      <input ng-model="pc.data.name" type="text" class="form-control" name="name" required>
      <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">Name is required.</p>
    </div>
  
    <div class="form-group">
      <label for="description">Description</label>
      <textarea ng-model="pc.data.description" class="form-control" id="description" placeholder="Description" rows="3"></textarea>
    </div>
  
    <div class="form-group" ng-class="{ 'has-error' : userForm.price.$invalid && !userForm.price.$pristine }">
      <label>Price</label>
      <input ng-model="pc.data.price" type="number" class="form-control" name="price" required>
      <p ng-show="userForm.price.$invalid && !userForm.price.$pristine" class="help-block">Price is required.</p>
    </div>
  
    <div class="form-group" ng-class="{ 'has-error' : userForm.brand.$invalid && !userForm.brand.$pristine }">
      <label>Brand</label>
      <select ng-model="pc.data.brand" class="form-control" name="brand" required>
        <option ng-repeat="brand in pc.brands" value="{{brand.name}}">{{brand.name}}</option>
      </select>
      <p ng-show="userForm.brand.$invalid && !userForm.brand.$pristine" class="help-block">Brand is required.</p>
    </div>
  
    <div class="form-group" ng-class="{ 'has-error' : userForm.type.$invalid && !userForm.type.$pristine }">
      <label>Type</label>
      <select ng-model="pc.data.type" class="form-control" name="type" placeholder="Type" required>
        <option ng-repeat="type in pc.types" value="{{type.name}}">{{type.name}}</option>
      </select>
      <p ng-show="userForm.type.$invalid && !userForm.type.$pristine" class="help-block">Type is required.</p>
    </div>
  </form>

</div>
<div class="modal-footer">
  <button ng-disabled="userForm.$invalid" class="btn btn-primary" type="button" ng-click="pc.ok()">Save</button>
  <button class="btn btn-default" type="button" ng-click="pc.cancel()">Cancel</button>
</div>