<div class="container">

  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="assets/img/products/boot-ang1.png" alt="Boots promotions">
        <div class="carousel-caption">
          Boots promotions
        </div>
      </div>
      <div class="item">
        <img src="assets/img/products/glove-code1.png" alt="Gloves promotions">
        <div class="carousel-caption">
          Gloves promotions
        </div>
      </div>
      <div class="item">
        <img src="assets/img/products/sb-ang1.png" alt="Boards promotions">
        <div class="carousel-caption">
          Boards promotions
        </div>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div>
    <h3 class="title-section">Recommended for you</h3>
  </div>

  <hr>

  <div class="row">

    <div class="col-xs-6 col-sm-4 col-lg-3">
      <a href="#" class="thumbnail">
        <img src="assets/img/products/boot-ang1.png" alt="boots">
        <div class="caption">
          <h4>Thumbnail label</h4>
          <span>$100.00</span>
        </div>
      </a>
    </div>

    <div class="col-xs-6 col-sm-4 col-lg-3">
      <a href="#" class="thumbnail">
        <img src="assets/img/products/boot-ang1.png" alt="boots">
        <div class="caption">
          <h4>Thumbnail label</h4>
          <span>$100.00</span>
        </div>
      </a>
    </div>

    <div class="col-xs-6 col-sm-4 col-lg-3">
      <a href="#" class="thumbnail">
        <img src="assets/img/products/boot-ang1.png" alt="boots">
        <div class="caption">
          <h4>Thumbnail label</h4>
          <span>$100.00</span>
        </div>
      </a>
    </div>

    <div class="col-xs-6 col-sm-4 col-lg-3">
      <a href="#" class="thumbnail">
        <img src="assets/img/products/boot-ang1.png" alt="boots">
        <div class="caption">
          <h4>Thumbnail label</h4>
          <span>$100.00</span>
        </div>
      </a>
    </div>

  </div>

  <div>
    <h3 class="title-section">Top sales</h3>
  </div>

  <hr>

  <div class="row">

    <div class="col-xs-6 col-sm-4 col-lg-3">
      <a href="#" class="thumbnail">
        <img src="assets/img/products/boot-ang1.png" alt="boots">
        <div class="caption">
          <h4>Thumbnail label</h4>
          <span>$100.00</span>
        </div>
      </a>
    </div>

    <div class="col-xs-6 col-sm-4 col-lg-3">
      <a href="#" class="thumbnail">
        <img src="assets/img/products/boot-ang1.png" alt="boots">
        <div class="caption">
          <h4>Thumbnail label</h4>
          <span>$100.00</span>
        </div>
      </a>
    </div>

    <div class="col-xs-6 col-sm-4 col-lg-3">
      <a href="#" class="thumbnail">
        <img src="assets/img/products/boot-ang1.png" alt="boots">
        <div class="caption">
          <h4>Thumbnail label</h4>
          <span>$100.00</span>
        </div>
      </a>
    </div>

    <div class="col-xs-6 col-sm-4 col-lg-3">
      <a href="#" class="thumbnail">
        <img src="assets/img/products/boot-ang1.png" alt="boots">
        <div class="caption">
          <h4>Thumbnail label</h4>
          <span>$100.00</span>
        </div>
      </a>
    </div>

  </div>

  <!-- <div class="row">
    <div class="col-md-2">
      <p>
        Search:
        <input ng-model="$ctrl.query" />
      </p>

      <p>
        Sort by:
        <select ng-model="$ctrl.orderProp">
          <option value="name">Alphabetical</option>
          <option value="age">Newest</option>
        </select>
      </p>

    </div>
    <div class="col-md-10">

      <ul class="phones">
        <li ng-repeat="product in $ctrl.products | filter:$ctrl.query | orderBy:$ctrl.orderProp"
            class="thumbnail phone-list-item">
          <a href="#!/products/{{product.id}}" class="thumb">
            <img ng-src="{{product.imageUrl}}" alt="{{product.name}}" />
          </a>
          <a href="#!/products/{{product.id}}">{{product.name}}</a>
          <p>{{product.snippet}}</p>
        </li>
      </ul>

    </div>
  </div> -->
</div>
